# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Niels Doucet
email = <email here>
[merge]
	renamelimit = 5000
[branch]
	autosetuprebase = always
[alias]
	st = status
	diff-pretty = diff --stat
	diff-list = diff --name-status
	branch-rel = log --graph --simplify-by-decoration --pretty=format:\"%d\" --all
	latest = log --format=\"%Cred%h %Creset%cr %Cgreen%gs %an %Creset%f\"
	alias-list = config --get-regexp alias
	cleanup = fetch -p
	tag-prune = !git tag -l | xargs git tag -d && git cleanup
	clean-all = !git clean -f -d && git tag-prune
	co = checkout
	push-head = push origin HEAD
	commit-all = commit -a -m
	alias-remove = config --global --unset
	branch-del = branch -d
	dv = diffview
	lg = log --color --graph --pretty=format:'%Cred%h%Creset - %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	logf = log --follow
	resolve-ours = !sh -c 'git co --ours $0 && git add $0'
	resolve-theirs = !sh -c 'git co --theirs $0 && git add $0'
	recent = "!r() { cur=$(git rev-parse --abbrev-ref HEAD); git for-each-ref --sort=committerdate $1 --format='%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' | sed \"s/m${cur}|/m* ${cur}|/\" | column -ts'|'; }; r ${1:-refs/heads/}"
[core]
	ignorecase = false
	autocrlf = input
